<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProtectPlus"
        tools:targetApi="31">
        <activity
            android:name=".view.Lecture"
            android:exported="false" />
        <activity
            android:name=".view.Lectures"
            android:exported="false" />
        <activity
            android:name=".view.Hotlines"
            android:exported="false" />
        <activity
            android:name=".view.EvacuationLocation"
            android:exported="false" />
        <activity
            android:name=".view.UserManagement"
            android:exported="false" />
        <activity
            android:name=".view.Modules"
            android:exported="false" />
        <activity
            android:name=".view.Menu"
            android:exported="false" />
        <activity
            android:name=".view.Directory"
            android:exported="false" />
        <activity
            android:name=".view.Dashboard"
            android:exported="false" />
        <activity
            android:name=".view.HelpDesk"
            android:exported="false" />
        <activity
            android:name=".view.Feedback"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".view.GetStarted"
            android:exported="false" />
        <activity
            android:name=".view.GameWon"
            android:exported="false" />
        <activity
            android:name=".adapter.GameMain"
            android:exported="false" />
        <activity
            android:name=".view.PlayAgain"
            android:exported="false" />
        <activity
            android:name=".view.TimeUp"
            android:exported="false" />
        <activity
            android:name=".view.SignUp"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>